* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}
a {
    text-decoration : none;
    color : inherit;
}
li {
    list-style-type : none ;
}
    
.img-wrapper_left{
    position: relative;
}

.img-left {
    position: absolute;
}

.background-left{
    position: absolute;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: blueviolet;
    width: 20rem;
    height: 20rem;
}

